
.button {
    background-color: #e63946; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
   
}

.button:hover {
    background-color: #721817; 
    transform: translateY(-2px); 
}

.button:active {
    background-color: #3e8e41; 
    transform: translateY(0); 
}

a {
    text-decoration: none;
}


@media (max-width: 768px) {
    .button {
        display: block;
        margin: 0 auto; 
    }
}